/* GLOBAL */

@media (max-width:768px) {
	#navbarSupportedContent {
		background-color: #333;
	}
}

.btn-dark {
	background-color: #333;
	border-radius: 20px;
}

.text-red {
	color: #c92229 !important;
}

.plain {
	color: black;
}

.underline {
	text-decoration: underline;
}

.aleo {
	font-family: 'Aleo';
}

.shrub {
	font-family: 'Shrub';
}

.working_group_icon {
	width: 60px;
	height: auto;
}

.working_group_icon:hover{
    padding: 2.5px;
    transition: 0.3s;
    cursor: pointer;
}

.working_group_icon_large {
	width: 125px;
	height: auto;
}

.working_group_link:hover {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

.circle {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}

.heading {
	font-size: 42px;
	font-family: Shrub;
}

.sub-heading {
	font-size: 24px;
	font-family: Aleo;
}

/* NAVBAR */

nav {
	z-index:10;
	height: 75px;
	line-height: 1;

}



.nav-item {
	text-transform: uppercase;
	font-size: 1.0rem;
	font-family: Aleo;
}

.navbar-toggler {
	border: none;
}

.navbar-carrot {
	font-size: 14px;
}

#front-page-header {
	color: white;
}

/* Bigger than mobile */
@media(min-width: 768px) {
	.nav-item {
		margin-right: 2.5vw;
		margin-left: 2.5vw;
		font-size: 1.2rem;
	}
	nav {
		overflow-y: hidden;
	}
}

.sloped {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
	padding-bottom: 100px;
}

/* FRONT PAGE */

.latest-blog-header {
  	width:100%;
  	/* height: 60vh; */
  	background-color: #fbbf11;
}

.navbar-collapse {
  max-height: 280px;
  overflow-y: auto;
}

.front-page-header {
  	width:100%;
  	/* height: 60vh; */
  	background-color: #383838;
  	z-index: 1;
}

.working_group_header {
  	width:100%;
  	/* height: 60vh; */
  	background-color: #383838;
  	z-index: 1;
}

.events-header {
  	width:100%;
  	/* height: 60vh; */
  	background-color: #1d77c2;
}

.get-involved {
	color: #fbbf11;
}


.scrollable {
    overflow-y: auto !important;
}

.map {
	width: 100%;
	height: 100%;
	margin-top: -170px;
	padding: 15px;
}
