<!DOCTYPE html>
<html lang="en">
	<head>
    	{{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}

				<div class="content mb-0" style="margin-top: 75px;">
	        {{- block "main" . }}{{- end }}
				</div>

				{{- partial "footer.html" . -}}

        <!-- Analytics Consent Modal -->
        <div class="modal fade" id="analyticsConsentModal" tabindex="-1" role="dialog" aria-labelledby="analyticsConsentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100" id="analyticsConsentModalLabel">Google Analytics Consent</h4>
              </div>
              <div class="modal-body py-4 px-3 px-sm-4">
                <p class="text-sm-center mb-2">We use Google Analytics to help us better understand the kind of people who visit our website and what content they are reading. This enables us to make better decisions about web design and writing</p>
                <p class="text-sm-center mb-3">By allowing analytics you are agreeing to the terms of our <a href="/privacy">Privacy Notice</a> and giving consent for cookies to be placed on your browser</p>
                <p class="font-weight-bold text-center mb-0">Allowing analytics is entirely optional, and the website will still be completely functional if you choose to reject them</p> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal" onclick="localStorage.setItem('consentGA', 'no');">Reject Analytics</button>
                <button type="button" class="btn btn-success mx-auto" data-dismiss="modal"onclick="localStorage.setItem('consentGA', 'yes'); initialiseGA();">Allow Analytics</button>
              </div>
            </div>
          </div>
        </div>

    </body>
</html>
