{{ define "main" }}

  <div class="col-lg-6 offset-lg-3">

    <div class="container">

      <div class="pt-4">

        <h1 class="aleo text-center">Blog</h1>

      </div>

      	<div class="pt-4">

  			{{ range (where .Data.Pages "Type" "blog") }}


	            <h1 class="aleo">{{ .Title }}</h1>

	            <p class="aleo">By {{ .Params.author }} &emsp;|&emsp; {{ dateFormat "02/01/06" .Date }} </p>

	            <p class="aleo">{{ .Description }}</p>
	            <p class="aleo"><a href="{{ .URL }}">Continue reading!</a></p>

	            <hr />

  			{{ end }}

		</div>

	</div>
</div>

{{ end }}