{{ define "main" }}

<div class="col-lg-6 offset-lg-3">

  <div class="container">

    <div class="pt-4">

      <h1 class="dosis-bold mb-5 text-shrub" id="roleTitle"></h1>

      <div id="volunteerRole"></div>

      <h3 class="mt-2">How To Apply</h3>

      <p>{{ .Content }}</p>

    </div>

  </div>
</div>

<script src="{{ .Site.BaseURL }}js/volunteer-roles.js"></script>

<script>

  var BaseURL = "{{ .Site.BaseURL }}";
  var murakamiRolesKey = "{{ .Site.Params.murakamiRolesKey }}"

  var urlParams = new URLSearchParams(window.location.search);
  var roleId = urlParams.get('roleId');

  var failUri = "{{ .Site.BaseURL }}volunteer"

  if(!roleId){
    window.location = failUri;
  } else {
    getVolunteerRole(roleId)
  }
</script>

{{ end }}
