/* sm */
@media (min-width: 576px) {
  .working-group-icon {
    width: 5.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .working-group-icon {
    width: 6rem;
  }

  .sloped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding-bottom: 10px;
  }

  #front-page-map {
    -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  }

  .events-header {
    margin-top: -150px;
  }
}

/* lg */
@media (min-width: 992px) {
  .working-group-icon {
    width: 6rem;
  }

  .sloped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding-bottom: 100px;
  }

  #front-page-map {
    -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  }
  .events-header {
    margin-top: -150px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .working-group-icon {
    width: 6.2rem;
  }

  .sloped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding-bottom: 100px;
  }

  #front-page-map {
    -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  }

  .nav-item {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .events-header {
    margin-top: inherit;
  }
}

/* xxl */
@media (min-width: 1366px) {
  .working-group-icon {
    width: 6.2rem;
  }

  .sloped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding-bottom: 100px;
  }

  #front-page-map {
    -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  }

  .nav-item {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
  }

  .events-header {
    margin-top: inherit;
  }
}
