{{ define "main" }}

  <div class="col-xl-6 mx-auto">
    <div class="container">
      <div class="pt-5 news-list">
        <h2 class="text-center mb-4">News</h2>
        
        <div class="col-md-6 my-2 mx-auto">
          <form class="input-group" action="{{ .Site.BaseURL }}news/search">
            <input class="form-control py-2" type="search" name="q" placeholder="Search our news posts" id="newSearch">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">🔍</button>
            </span>
          </form>
        </div>

        {{ range (.Paginate (sort (where .Site.Pages "Type" "news") "Date" "desc")).Pages }}
          {{ if (ne .Params.hidden "true") }}
            <div class="py-3">
              {{ partial "news/preview.html" (dict "context" . "homepage" "0") }}
            </div>
            <hr />
          {{ end }}

        {{ end }}
      </div>
      <div class="d-flex justify-content-center">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>

{{ end }}
