{{ define "main" }}

<div class="col-lg-6 offset-lg-3">

  <div class="container">

    <div class="pt-4">

      <h1 class="dosis-bold text-center mb-4">{{ .Title }}</h1>

      <div id="roleFilter">

        <!-- Activity -->
        <!-- Location -->
        <!-- Commitment Length -->
        <!-- Availability -->
        <!-- Group -->

      </div>

      <div class="mb-4">
        {{ .Params.preamble | markdownify }}
      </div>

      <div id="volunteerRoles" class="text-center mb-4">
        <div class="lds-ellipsis dark"><div></div><div></div><div></div><div></div></div>
      </div>

    </div>

  </div>
</div>

  <script src="{{ .Site.BaseURL }}js/volunteer-roles.js"></script>


  <script>
  var BaseURL = "{{ .Site.BaseURL }}";
  var murakamiRolesKey = "{{ .Site.Params.murakamiRolesKey }}"
  var rolesLimit;
  var truncateRoleDescriptions = false;

  $(document).ready(function(){
    getAllVolunteerRoles()
  })
  </script>

{{ end }}
