{{ define "main" }}

{{ $groupId := (urlize .Title) }}


<div class="row">

  <div class="col-lg-4 order-lg-1">
    <div class="working_group_header sloped">

    	<div class="row pt-4">
    		<div class="col-9 offset-1">
		    	<div class="container">

		    		<h1 class="dosis-bold mb-4" style="font-size: 42px; padding-bottom: 0; color: {{.Params.colour}};">
		    			{{ .Title }}
		    		</h1>

		    		<h3 class="dosis-semi-bold text-white">
		    			{{ .Params.tagline }}
		    		</h3>

		    	</div>
    		</div>
    	</div>
      <div class="row pt-4">
        <div class="col-6 offset-1">
          <div class="container">

            {{ if .Params.address }}

              <p class="text-white mb-1">
                &#127970; {{ .Params.address }}
              </p>

            {{ end }}

            {{ if .Params.times }}
              <p class="text-white">
                &#128336; {{ .Params.times }}
              </p>
            {{ end }}
          </div>
        </div>
        <div class="col-4 ml-0">
          <div class="container">
            <img
              src="{{ .Params.working_group_logo}}"
              class="working_group_icon d-block mx-auto"
            />
          </div>
        </div>
      </div>

    </div>

    <div id="latestEventsParent">
      <div class="row d-none d-lg-flex d-xl-flex">


        <div class="circle" style="margin-left: -12px; margin-right: 15px; background-color: {{.Params.colour}};"></div>

        <h2 class="mt-2 mb-2">Latest Events</h2>

      </div>
      <div class="row ml-0 d-none d-lg-block d-xl-block">
        <div class="container" id="latestEvents">

          {{ $eventsCount := 0 }}
          {{ $eventsLimit := 3 }}

          {{ range (where .Site.Pages "Type" "events") }}

            {{ if le $eventsCount $eventsLimit }}
              {{ if in .Params.Tags $groupId }}

                {{ $eventsCount := (add $eventsCount 1)}}

                {{- partial "events-preview.html" . -}}

                {{ if (not (eq $eventsCount $eventsLimit)) }}
                  <hr />
                {{ end }}

              {{ end }}

            {{ end }}

          {{ end }}
        </div>
      </div>
    </div>


  </div>



  <div class="col-lg-4 order-lg-2">

    <div class="circle d-none d-lg-block d-xl-block mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>

    <div class="mt-4 mt-xs-4 mt-sm-4 mt-md-4 mt-lg-0 mt-xl-0 container">
      {{ .Content }}
    </div>

  </div>

  <div class="col-lg-4 order-lg-3">
    <br class="d-lg-none" />
    <br class="d-lg-none" />
    <a name="news">
      <div class="circle mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>
    </a>
    <div class="container">
      <h2 class="text-center mb-3">Latest News</h2>

      <div id="latestNews">

        {{ $newsCount := 0 }}
        {{ $newsLimit := 3 }}

        {{ range (where .Site.Pages "Type" "news") }}

          {{ if le $newsCount $newsLimit }}
            {{ if in .Params.Tags $groupId }}

              {{ $newsCount := (add $newsCount 1)}}

              {{- partial "news-preview.html" . -}}

              {{ if (not (eq $newsCount $newsLimit)) }}
                <hr />
              {{ end }}

            {{ end }}

          {{ end }}

        {{ end }}
      </div>
    </div>

    <div id="latestEventsParentCopy">
      <div class="row mt-5 d-block d-lg-none d-xl-none">


        <div class="circle mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>


      </div>
      <div class="row d-block d-lg-none d-xl-none">
        <h2 class="text-center mb-3">Latest Events</h2>
        <div class="container" id="latestEventsCopy">

          {{ $eventsCount := 0 }}
          {{ $eventsLimit := 3 }}

          {{ range (where .Site.Pages "Type" "events") }}

            {{ if le $eventsCount $eventsLimit }}
              {{ if in .Params.Tags $groupId }}

                {{ $eventsCount := (add $eventsCount 1)}}

                {{- partial "events-preview.html" . -}}

                {{ if (not (eq $eventsCount $eventsLimit)) }}
                  <hr />
                {{ end }}

              {{ end }}

            {{ end }}

          {{ end }}
        </div>
      </div>
    </div>


  </div>

</div>

<script>

var latestNews = $("#latestNews").html();
var latestEvents = $("#latestEvents").html();

if(latestNews.trim() == "") {
  $("#latestNews").html('<p class="mt-4 mb-4 text-center text-muted mx-auto">No posts to show right now. Check back soon!</p>')
}

if(latestEvents.trim() == ""){

  $("#latestEvents").html('<p class="mt-4 mb-4 text-center text-muted mx-auto">No events to show right now. Check back soon!</p>')
  $("#latestEventsCopy").html('<p class="mt-4 mb-4 text-center text-muted mx-auto">No events to show right now. Check back soon!</p>')
}

</script>

{{ end }}
