{{ define "main" }}

{{ $groupId := (urlize .Title) }}


<div class="row">

  <div class="col-xl-4 order-lg-1">
    <div class="working_group_header sloped" style="padding-bottom:50px !important;">

    	<div class="row pt-5 pb-3">

        <div class="col-3 ml-xl-4 mr-3 mr-xl-0">
          <div class="container my-auto">
            <img
              src="{{ .Params.working_group_logo}}"
              class="working-group-icon d-block mx-auto"
            />
          </div>
        </div>

    		<div class="col-8">
		    	<div class="container">

		    		<h3 class="dosis-semi-bold" style="color: {{ .Params.colour }};">
		    			{{ .Params.tagline }}
		    		</h3>

            {{ if .Params.address }}

              <p class="text-white mb-1">
                &#127970; {{ .Params.address }}
              </p>

            {{ end }}

            {{ if .Params.times }}
              <p class="text-white">
                &#128336; {{ .Params.times }}
              </p>
            {{ end }}


		    	</div>
    		</div>

    	</div>

    </div>

    {{ if .Params.address }}
      {{ if .Params.lon }}
        {{ if .Params.lat }}
          <a href="https://www.openstreetmap.org/#map=19/{{ .Params.lon }}/{{ .Params.lat }}" target="_blank" title="Click to view {{ .Params.address }} on Open Street Maps.">
            <div id="project-map"></div>
          </a>

        {{ end }}
      {{ end }}
    {{ end }}

  </div>



  <div class="col-xl-4 order-lg-2">

    <div class="circle d-none d-lg-block d-xl-block mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>

    <div class="circle d-block d-lg-none d-xl-none mx-auto" style="margin-top: 40px; margin-bottom: 20px; background-color: {{.Params.colour}};"></div>

    <h2 class="text-center mb-3">What We Do</h2>

    <div id="group-synopsis" class="mt-4 mt-xs-4 mt-sm-4 mt-md-4 mt-lg-0 mt-xl-0 container">
      {{ .Content }}

    </div>

  </div>

  <div class="col-xl-4 order-lg-3">
    <br class="d-lg-none" />
    <br class="d-lg-none" />
    <a name="news">
      <div class="circle mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>
    </a>
    <div class="container">
      <h2 class="text-center mb-3">Latest News</h2>

      <div id="latestNews">

        {{ $newsCount := 0 }}
        {{ $newsLimit := 3 }}

        {{ range (where .Site.Pages "Type" "news") }}

          {{ if le $newsCount $newsLimit }}
            {{ if in .Params.Tags $groupId }}

              {{ $newsCount := (add $newsCount 1)}}

              {{- partial "news-preview.html" . -}}

              {{ if (not (eq $newsCount $newsLimit)) }}
                <hr />
              {{ end }}

            {{ end }}

          {{ end }}

        {{ end }}
      </div>
    </div>

    <div id="latestEventsParentCopy">
      <div class="row mt-5">


        <div class="circle mx-auto" style="margin-top: -20px; margin-bottom: 30px; background-color: {{.Params.colour}};"></div>


      </div>
      <div class="row d-block">
        <h2 class="text-center mb-3">Latest Events</h2>
        <div class="container" id="latestEvents">

          {{ $eventsCount := 0 }}
          {{ $eventsLimit := 3 }}

          {{ range (where .Site.Pages "Type" "events") }}

            {{ if le $eventsCount $eventsLimit }}
              {{ if in .Params.Tags $groupId }}

                {{ $eventsCount := (add $eventsCount 1)}}

                {{- partial "events-preview.html" . -}}

                {{ if (not (eq $eventsCount $eventsLimit)) }}
                  <hr />
                {{ end }}

              {{ end }}

            {{ end }}

          {{ end }}
        </div>
      </div>
    </div>


  </div>

</div>

<script>

var latestNews = $("#latestNews").html();
var latestEvents = $("#latestEvents").html();

if(latestNews.trim() == "") {
  $("#latestNews").html('<p class="mt-4 mb-4 text-center text-muted mx-auto">No posts to show right now. Check back soon!</p>')
}

if(latestEvents.trim() == ""){
  $("#latestEvents").html('<p class="mt-4 mb-4 text-center text-muted mx-auto">No events to show right now. Check back soon!</p>')
}

var synopsisHeadings = {};
$("#group-synopsis h3").each(function(){
  var triggerId = this.id;
  var body = document.createElement("div")
  body.id = this.id + "_body";
  body.className = "collapse"

  var toggler = document.createElement("a");
  toggler.dataset.toggle = "collapse";
  toggler.href = "#" + body.id;
  toggler.className = "ml-2"
  toggler.style.color = "{{ .Params.colour }}"
  toggler.innerHTML = "&#x25BC;"
  this.appendChild(toggler)
  $(this).nextUntil("#group-synopsis h3").each(function(){
    var child = document.createElement(this.tagName)
    child.innerHTML = this.innerHTML;
    body.appendChild(child)
    $(this).remove()
  });
  $(body).insertAfter(this);

});

{{ if .Params.address }}
  {{ if .Params.lon }}
    {{ if .Params.lat }}
      var coords = [{{ .Params.Lon }}, {{ .Params.Lat }}]
      var map = L.map('project-map', {zoomControl:false}).setView(coords, 16);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: '{{ .Site.Params.mapStyle }}',
        accessToken: '{{ .Site.Params.mapboxKey }}'
      }).addTo(map);

      var marker = L.marker(coords).addTo(map);
    {{ end }}
  {{ end }}
{{ end }}
</script>

{{ end }}
