{{ define "main" }}

<div class="row">

  <div class="col-md-4 order-md-2">
    <div class="front-page-header sloped">

      <div class="row">
        <div class="col-9">

          <div class="row">
            <div id="front-page-header" class="mt-4 ml-5">
              <center>
                <h1 style="font-family: Shrub; font-size: 102px; line-height: 0.75;">
                  SHRUB
                </h1>
                <p style="font-family: Aleo; font-size: 14px; line-height: 0.8;">
                  Community-led co-operative in Edinburgh
                </p>
                <h3 style="font-family: Aleo; font-size: 36px; line-height: 0.8;">
                  FOR A WORLD
                </h3>
                <h1 style="font-family: Aleo; font-size: 56px; line-height: 0.8;">
                  WITHOUT
                </h1>
                <h3 style="font-family: Aleo; font-size: 42px; line-height: 0.8;">
                  WASTE
                </h3>
              </center>
            </div>
          </div>

        </div>

      </div>
    </div>

    



    <div class="row">
        <h1 class="get-involved mx-auto mt-5">GET INVOLVED</h1>
    </div>

  </div>

  <div class="col-md-4 order-md-1">
    <div class="latest-blog-header sloped">
      {{ range first 1 .Data.Pages }}
        <h1>Latest blog post</h1>
        <h2>{{ .Title }}</h2>
        
      {{ end }}
    </div>
  </div>

  <div class="col-md-4 order-md-3">
    <div class="events-header sloped">
      <h1>Events calendar</h1>
    </div>
  </div>

</div>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
  map = new OpenLayers.Map("mapdiv");
  map.addLayer(new OpenLayers.Layer.OSM());

  var swapshop = new OpenLayers.LonLat(-3.20446, 55.94569)
        .transform(
          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
          map.getProjectionObject() // to Spherical Mercator Projection
        );

  var shrubSpace = new OpenLayers.LonLat(-3.18843, 55.94827)
        .transform(
          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
          map.getProjectionObject() // to Spherical Mercator Projection
        );

  var wsh = new OpenLayers.LonLat(-3.18857, 55.94819)
        .transform(
          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
          map.getProjectionObject() // to Spherical Mercator Projection
        );

  var center = new OpenLayers.LonLat(-3.19603, 55.94735)
        .transform(
          new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
          map.getProjectionObject() // to Spherical Mercator Projection
        );

  
        
  var zoom=15;

  var markers = new OpenLayers.Layer.Markers( "Markers" );
  map.addLayer(markers);
  
  markers.addMarker(new OpenLayers.Marker(swapshop));
  markers.addMarker(new OpenLayers.Marker(shrubSpace));
  markers.addMarker(new OpenLayers.Marker(wsh));
  
  map.setCenter(center, zoom);
</script>

{{ end }}