{{ define "main" }}

  <div class="col-lg-6 offset-lg-3">

    <div class="container">

      <div class="pt-4">

        <h1 class="aleo text-center">Events</h1>

      </div>

      	<div class="pt-4">

  			{{ range (where .Data.Pages "Type" "events") }}


	            <h1 class="aleo">{{ .Title }}</h1>
	            <p class="aleo">{{ .Description }}</p>
	            <p class="aleo">{{ .Params.time }} @ {{ .Params.location }} &emsp;|&emsp; Hosted by {{ .Params.author }}</p>
	            <a href="{{ .URL }}">More info</a>

	            <hr />

  			{{ end }}

		</div>

	</div>
</div>

{{ end }}