---
new_page_extension: md
auto_deploy: true
admin_path: 
webhook_url: 
sections:
- type: document
  path: config.toml
  label: Site Config
- type: document
  path: content/volunteer-roles/view.md
  label: Volunteer Roles - How To Apply
- type: directory
  path: content/working-groups
  label: Working groups
  create: all
  match: "**/*"
  templates:
  - working-group
- type: directory
  path: content/events
  label: Events
  create: all
  match: "**/*"
- type: directory
  path: content/blog
  label: Blog
  create: all
  match: "**/*"
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
upload_dir: shrubcoop.org/media
public_path: https://res.cloudinary.com/shrub-co-op/image/upload
front_matter_path: https://res.cloudinary.com/shrub-co-op/image/upload
use_front_matter_path: true
file_template: ":filename:"
instant_preview: false
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.53
  preview_output_directory: public
  preview_docker_image: forestryio/build:latest
  mount_path: "/opt/buildhome/repo"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -d public
  publish_command: hugo -d public
  publish_env:
  - HUGO_ENV=production
  - HUGO_VERSION=0.53
  output_directory: public
  preview_command: hugo -E -F -D -b $DEPLOY_URL -d public
version: '0.53'
