<div class="row text-center mt-0">
  <div class="col-10 col-sm-8 col-md-10 col-lg-10 col-xl-10 mx-auto">
    <div class="row">
      <div class="d-flex d-flex-row flex-wrap flex-md-nowrap align-items-center justify-content-center">
        {{ range .Site.Params.funders }}
          <div class="my-3">
            <a href="{{ .link }}" title="{{ .name }}" target="_blank">
              <img src="{{.image}}" class="funder-image my-auto">
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>

</div>

<div class="row mt-4 mb-4" tabindex="0">
  <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-6 mx-auto text-center">
    <p class="text-muted">{{ .Site.Params.fundersFooterText }}</p>
  </div>
</div>



<footer id="footer" tabindex="0" class="page-footer font-small bg-dark blue pt-5 text-white">


  <div class="container-fluid text-center text-md-left">


    <div class="row">

      <div class="col-md-8 mx-auto">
        <div class="row">

          <div class="col-md-4 col-lg-3 mb-md-0 mb-3 mx-auto">

            <h3 class="h5" tabindex="0">Contact</h3>

            <ul class="list-unstyled" tabindex="0">
              <li>
                <a href="mailto:{{ .Site.Params.footer.contact.email}}">{{ .Site.Params.footer.contact.email}}</a>
              </li>
              <li>
		Tel. {{ .Site.Params.footer.contact.phoneNumber}}
              </li>
              <li>
		{{ .Site.Params.footer.contact.streetAddress }}
              </li>
              <li>
		{{ .Site.Params.footer.contact.postcode }}
              </li>
              <li>
		{{ .Site.Params.footer.contact.city }}
              </li>
            </ul>

          </div>

          {{ if .Site.Menus.socials }}

            {{$socialsLen := len .Site.Menus.socials}}

            {{ if (not (eq $socialsLen 0)) }}

              <div class="col-md-4 col-lg-3 mb-md-0 mb-3 mx-auto">


                <h3 class="h5" tabindex="0">Follow Us</h3>

                <ul class="list-unstyled">
                  {{ range .Site.Menus.socials }}
                    <li>
                      <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>

            {{ end }}

          {{ end }}

          <div class="col-md-4 col-lg-3 mb-md-0 mb-3 mx-auto">

            <h3 class="h5" tabindex="0">Site Links</h3>

            <ul class="list-unstyled">

              {{ range .Site.Menus.main }}

              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>

              {{ end }}


              <li>
                <a href="{{ .Site.BaseURL }}privacy">Privacy Notice</a>
              </li>

              <li>
                <a href="{{ .Site.BaseURL }}sitemap.xml">Sitemap</a>
              </li>

            </ul>
          </div>


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center text-white py-3" tabindex="0">
          {{ .Site.Params.shrubLegalName }}
        </p>
      </div>
    </div>

  </div>

</footer>
