<style>

  @font-face {
  	font-family: 'Shrub';
  	src: url('{{.Site.BaseURL}}fonts/shrub.ttf') format('truetype');
  }

  @font-face {
  	font-family: 'Dosis Semi-Bold';
  	src: url('{{.Site.BaseURL}}fonts/Dosis-SemiBold.otf') format('opentype');
  }

  @font-face {
  	font-family: 'Dosis Bold';
  	src: url('{{.Site.BaseURL}}fonts/Dosis-Bold.otf') format('opentype');
  }

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{.Site.BaseURL}}css/base-style.css" />
<link rel="stylesheet" href="{{.Site.BaseURL}}css/responsive.css" />
<link rel="stylesheet" href="{{.Site.BaseURL}}css/load-animation.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
<script>
  String.prototype.toProperCase = function() {
    return this.split("_")
      .join(" ")
      .replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
  };
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Params.googleAnalyticsId }}"></script>
<script>
  var localStorage = window.localStorage;
  var askedForConsent = localStorage.getItem('consentGA') ? true : false;
 
  window.onload = function() {
    if(askedForConsent === true) {
      initialiseGA();
    } else {
      askForConsent();
    }
  }

  var initialiseGA = function() {
    if(localStorage.getItem('consentGA') === "yes") {
      console.log("Google Analytics enabled");
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ .Params.googleAnalyticsId }}');
    }
  }

  var askForConsent = function() {
    $('#analyticsConsentModal').modal({ backdrop: 'static', keyboard: false });
  }
</script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
/>
<meta charset="UTF-8" />
{{ if .Description }}
  <meta name="description" content="{{ .Description }}">
{{ else }}
  {{ if .Params.tagline }}
    <meta name="description" content="{{ .Params.tagline }}">
  {{ end }}
{{ end }}

<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
