<nav id="bootstarp-menu" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <a class="navbar-brand ml-5" title="Shrub Co-op Logo - this is the Shrub Home Button. Click here to go back to the Shrub landing page." href="/">

    <div>
      <center>
        <p class="heading mx-auto mb-1">SHRUB</p>
      </center>
      <center>
        <p class="sub-heading mx-auto" style="line-height: 0;">CO-OP</p>
      </center>
    </div>

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon-custom">MENU 
      <span class="navbar-carrot">&#9660;</span>
    </span>
  </button>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item {{ if eq $currentPage.Title .Name }}underline{{ end }}">
          <a class="nav-link text-white" title="{{ .Name }} - {{ .Pre }}" href="{{ .URL }}">{{ .Name }}{{ if $currentPage.HasMenuCurrent "main" . }} <span class="sr-only">(current)</span>{{ end }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</nav>