  <div id="membership-select">
    <div class="modal-content">
      <div class="card-body text-center mx-4">
       
        <h3 class="mb-3">Choose Your Membership</h3>

        {{ partial "membership-signup/membership-select.html" . }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changePage('#membership-select', '#personal-details')">Personal Details &#x2794;</button>
      </div>
    </div>

  </div>

  <div id="personal-details" class="d-none">
    <div class="modal-content">
      <div class="card-body mx-4">

          {{ partial "membership-signup/personal-details.html" . }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changePage('#personal-details', '#membership-select')">&#x21e4; Choose Your Membership</button>
        <button type="button" class="btn btn-primary" onclick="changePage('#personal-details', '#membership-terms')">Membership Terms &#x21e5;</button>
      </div>
    </div>

  </div>
  
  <div id="membership-terms" class="d-none">
    <div class="modal-content">
      <div class="card-body mx-4">

        {{ partial "membership-signup/membership-terms.html" . }}

        <button class="btn btn-shrub btn-block mt-4" id="proceedToPaymentButton">Proceed To Payment</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="changePage('#membership-terms', '#personal-details')">&#x21e4; Personal Details</button>
      </div>
    </div>

  </div>
  
  <div id="payment-details" class="d-none">
    <div class="modal-content">
      <div class="card-body mx-4">

        <div id="payment-details-wrapper" class="d-none">
          <h4 class="mb-3 text-center">Payment Details</h4>
          
          <div id="sumup-card"></div>

          <div class="row d-none amount-confirmation-wrapper">
            <div class="col-10 mx-auto">
              <p class="text-center mb-4 mt-3">
                By clicking "Pay", your membership sign up will be completed and <b>£<span class="amount-confirmation"></span></b> will be charged to your card
              </p>
            </div>
          </div>
        </div>

        <div id="payment-details-errors"></div>

      </div>

    </div>

  </div>
</div>

<div class="row mt-4 mb-3">
  <div class="col-md-12 mx-auto">
    <div id="errorBoxContainer" class="d-none">
      <div class="alert alert-danger pb-2 px-4 pt-4">
        <h4>Uh-oh!</h4>
        <p id="errorBoxMessage"></p>
        <hr />
        <p class="mb-3">If you need any help, please <a href="mailto:hello@shrubcoop.org" title="Click here to send us an email">get in touch</a></p>
      </div>
    </div>

    <div id="successBoxContainer" class="d-none">
      <div class="alert alert-success pb-2 px-4 pt-4">
        <h4>Success!</h4>
        <p id="successBoxMessage"></p>
        <hr />
        <p class="mb-3">If you need any help, please <a href="mailto:hello@shrubcoop.org" title="Click here to send us an email">get in touch</a></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>
<script src="{{ .Site.BaseURL }}js/validation-methods.js"></script>
<script src="{{ .Site.BaseURL }}js/membership-signup.js"></script>

<script>

  // Define some constants from hugo config - these will be used by static/js/membership-signup.html
  var BaseURL = "{{ .Site.BaseURL }}";
  var murakamiMembershipKey = "{{ .Site.Params.murakamiMembershipKey }}"


  $(document).ready(function() {
    $("#proceedToPaymentButton").on("click", function() {
      proceedToPayment();
    });

    // getStaticContent is defined in
    getSignUpInfo(function(signUpInfo) {
      // Once signup static content is loaded, show form.
      $("#ourVisionBody").html(signUpInfo.ourVision.markup);
      $("#saferSpacesPolicyBody").html(signUpInfo.saferSpacesPolicy.markup);
      $("#membershipBenefitsBody").html(signUpInfo.membershipBenefits.markup);
      $("#privacyNoticeBody").html(signUpInfo.privacyNotice.markup);
    
      $("#loading").addClass("d-none");
      $("#membership-signup-form").removeClass("d-none");
    });  
  });

  function changePage(from, to) {
    errors = [];
    var formParameters = {};

    if(from == "#membership-select" && to == "#personal-details"){
      errors = validateMembershipSelect();
    } else {
      if (from == "#personal-details" && to == "#membership-terms") {
        formParameters = {
          first_name: "",
          last_name: "",
          date_of_birth: "",
          email: "",
          address: "",
          phone_no: "",
          contact_consent: null,
        }
      } else if (from == "#membership-terms" && to == "#payment-details") {
        formParameters = {
          safer_spaces_check: null,
          privacy_notice_check: null,
          behaviour_change_survey_consent: null,
          newsletter_consent: null
        }
      }
      errors = validateMembershipForm(formParameters);
    }

    if(Object.keys(errors).length === 0){
      $(from + "-errors").html("");
      $(from).addClass("d-none");
      $(to).removeClass("d-none")
    } else {
      $(from + "-errors").html(createErrorMarkup(errors));
    }

    return errors;
  }

  function createErrorMarkup(errors){
    var errorsParent = document.createElement("div");
    errorsParent.classList = "text-left alert alert-danger px-4 py-3 mt-4";

    var errorsAlertTitle = document.createElement("h4");
    errorsAlertTitle.classList = "alert-heading";
    errorsAlertTitle.textContent = "Uh-oh!"

    var errorsPreamble = document.createElement("p");
    errorsPreamble.textContent = "Please fix the following errors to continue:";
    var errorsList = document.createElement("ul");

    for(i=0;i < errors.length; i++){
      var error = errors[i];
      var errorMessage = document.createElement("li");
      errorMessage.textContent = error;
      errorsList.appendChild(errorMessage);
    }

    errorsParent.appendChild(errorsAlertTitle);
    errorsParent.appendChild(errorsPreamble);
    errorsParent.appendChild(errorsList);

    return errorsParent.outerHTML;
  }

</script>
