          <h3 class="mb-3 text-center">Membership Terms</h3>


          <button
            type="button"
            class="btn btn-primary btn-block mb-2"
            data-toggle="collapse"
            data-target="#saferSpacesPolicy"
          >
            Read the safer spaces policy
          </button>

          <div class="collapse mb-2" id="saferSpacesPolicy">
            <div class="card card-body" id="saferSpacesPolicyBody"></div>
          </div>

          <button
            type="button"
            class="btn btn-primary btn-block mb-2"
            data-toggle="collapse"
            data-target="#privacyNotice"
          >
            Read the privacy notice
          </button>

          <div class="collapse mb-2" id="privacyNotice">
            <div class="card card-body" id="privacyNoticeBody"></div>
          </div>

          <div class="form-check form-check-inline mt-3">
            <input
              class="form-check-input memberSignUpFormElement"
              type="checkbox"
              id="safer_spaces_check"
              required
            />
            <label class="form-check-label">
              I agree to comply with the safer spaces policy
              <span class="text-danger">*</span>
            </label>
          </div>

          <div class="form-check form-check-inline mt-2 mb-0">
            <input
              class="form-check-input memberSignUpFormElement"
              type="checkbox"
              id="privacy_notice_check"
              name="privacy_notice_check"
              required
            />
            <label class="form-check-label">
              I agree to the terms of the privacy notice
              <span class="text-danger">*</span>
            </label>
          </div>


          <p class="pt-3">
            <b>Newsletter</b>
          </p>
          <p>
            Would you like to join our monthly newsletter to keep up to date with events and opportunities?
          </p>

          <div class="form-check form-check-inline mt-1">
            <input
              class="form-check-input memberSignUpFormElement"
              type="checkbox"
              id="newsletter_consent"
            />
            <label class="form-check-label">
              Yes, please sign me up to the newsletter
            </label>
          </div>

          <p class="pt-3">
            <b>Behaviour Change Survey</b>
          </p>
          <p>
            Would you like to signup for a short, one-off survey?
            <br />
            <small>This survey will be sent 3 months after you join to help us to understand the impact that SHRUB has made - which is required to be reported back to our funders. The results will be compiled and presented anonymously</small>
          </p>

          <div class="form-check form-check-inline mt-1">
            <input
              class="form-check-input memberSignUpFormElement"
              type="checkbox"
              id="behaviour_change_survey_consent"
            />
            <label class="form-check-label">
              Yes, you can send me the behaviour change survey
            </label>
          </div>

          <div id="membership-terms-errors"></div>

