{{ define "main" }}

<div class="row">
  <div class="col-xl-4 col-md-12 order-lg-2">
    <div class="front-page-header sloped" style="padding-bottom: 100px;">
      <div class="row pt-4 pb-4 pl-4 pr-4">
        <div class="col-xl-6 col-12 mx-auto">

          <div id="front-page-header" class="mx-auto mt-lg-5 mt-xl-5">
            <center id="default-header">
              <h1 class="shrub mb-2 mt-3 text-center"
                style="font-size: 5em; line-height: 0.5;"
              >
                SHRUB
              </h1>
              <h2 class="dosis-semi-bold" style="font-size: 50px; line-height: 0.8;">
                COOP
              </h2>
              <p
              class="text-center mt-3 dosis-semi-bold text-white"
                style="line-height: 1;"
              >
                We’re a cooperative in Edinburgh working
              </p>
              <h3
              class="text-center dosis-semi-bold"
                style="font-size: 1.75em; line-height: 0.8;"
              >
                FOR A WORLD
              </h3>
              <h1
              class="text-center dosis-semi-bold"
                style="font-size: 2.5em; line-height: 0.8;"
              >
                WITHOUT
              </h1>
              <h3
              class="text-center dosis-semi-bold"
                style="font-size: 1.75em; line-height: 0.8;"
              >
                WASTE
              </h3>

              <br />

              <h3 id="carbonCounter" class="dosis-semi-bold">
                So far, we've saved
                <br />
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>

              </h3>
            </center>

            {{ range (where .Data.Pages "Type" "working-groups") }}

            <div
              id="{{urlize .Title }}_info"
              class="working-group-synopsis d-none"
            >
              <div class="row pt-0 pl-4 mb-4">
                <div class="container">
                  <h1
                    class="dosis-bold"
                    style="font-size: 38px; padding-bottom: 0; color: {{.Params.colour}};"
                  >
                    {{ .Title }}
                  </h1>

                  <h4 class="text-white dosis-semi-bold">{{ .Params.tagline }}</h4>

                  <p class="mt-4 text-white">
                    {{ .Params.times }}
                  </p>
                  <p class="text-white">
                    {{ .Params.address }}
                  </p>

                </div>
              </div>
            </div>

            {{ end }}
          </div>
        </div>
        <div class="col-12 col-xl-4 ml-0 mx-auto d-md-block mt-4 mb-5 mt-xl-0 mb-xl-0">
          <center>
            <div class="container mx-auto">
              {{ range (where .Data.Pages "Type" "working-groups") }}



                <a
                  class="working_group_link"
                  href="{{.Site.BaseURL}}{{.URL}}"
                  title="{{ .Params.alt }}"

                >
                  <div class="d-inline d-xl-block mx-auto p-xl-2 p-4 mb-xl-0 mb-4" id="{{urlize .Title }}">
                    <img alt="{{ .Name }} logo"
                      src="{{ .Params.working_group_logo}}"
                      id="{{urlize .Title }}"
                      class="working_group_icon mx-auto"
                    />
                  </div>
                </a>


              {{ end }}
            </div>
          </center>
        </div>
      </div>
    </div>
    <div id="front-page-map"></div>
  </div>

  <div class="col-xl-4 order-lg-1 d-none d-xl-block">
    <div class="latest-blog-header sloped">
      <div class="container">
        <div class="pl-3 pt-4 text-white links-white">
          {{ range first 1 (where .Data.Pages "Type" "news") }}
            {{- partial "news-preview.html" . -}}
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 order-lg-3 d-none d-xl-block">
    <div class="events-header sloped">
      <div class="container">
        <div class="pl-4 pt-4 text-white links-white">
          {{ .Scratch.Set "eventsTextWhite" "true" }}
          {{ range first 1 (where .Data.Pages "Type" "events") }}

            {{ partial "events-preview.html" . }}

          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<script>

  $(".working_group_icon").mouseenter(function(){
    $("#default-header").hide();
    $(".working-group-synopsis").addClass("d-none");
    $(".working_group_icon").css("opacity", "0.5");
    $(this).css("opacity", "1");
    $("#" + this.id + "_info").removeClass("d-none");
  })

  $(".working_group_icon").mouseleave(function(){
    $("#default-header").show();
    $("#" + this.id + "_info").addClass("d-none");
    $("#" + this.id + "_info").removeClass("d-none");
    $(".working-group-synopsis").addClass("d-none");
    $(".working_group_icon").css("opacity", "1");
  })

  $.ajax({
    url: "https://murakami.org.uk/api/get/reports/all-time/carbon-saved?key={{ .Site.Params.murakamiCarbonKey }}",
    type: "GET",
    success: function(res) {
      if (!parseFloat(res)) {
        res = (0.0).toFixed(3);
      }
      $("#carbonCounter").html("So far, we've saved <br />" + res + " tonnes of carbon!");
    }
  });

  var centerCoords = [55.9499497,-3.1969465]

  var map = L.map('front-page-map').setView(centerCoords, 15);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
  	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  	maxZoom: 18,
  	id: 'mapbox.outdoors',
  	accessToken: '{{ .Site.Params.mapboxKey }}'
  }).addTo(map);

  var markers = [
    {"name":"22 Bread Street", coords: [55.9456658,-3.2066068], "bindTo": ["swapshop", "zero-waste-hub", "food-sharing"]},
    {"name":"13 Guthrie Street", coords: [55.9481442,-3.1906552], "bindTo": ["wee-spoke-hub"]},
    {"name":"17 Guthrie Street", coords: [55.948236,-3.1907144], "bindTo": ["workshops-and-events"]}
  ]



  markers.forEach(function(marker, i){
    markers[i].markerObj = L.marker(markers[i].coords).addTo(map);
    markers[i].markerObj.bindPopup("<p class='font-weight-bold'>" + markers[i].name + "</p>");
    var currentMarker = markers[i].markerObj;
    markers[i].bindTo.forEach(function(group, j){
      $('#' + markers[i].bindTo[j]).on('mouseenter', function(e) {
        // Pan to location when hovering on group
        currentMarker.openPopup();
        map.panTo(currentMarker.getLatLng());
        e.stopPropagation();
        e.preventDefault();
      });

      $('#' + markers[i].bindTo[j]).on('mouseleave', function(e) {
        // Pan to center when no longer hovering.
        map.closePopup();
        map.panTo(new L.LatLng(centerCoords[0], centerCoords[1]));
      });
    })
  })

</script>

{{ end }}
