{{ define "main" }}

<div class="row">
  <div class="col-lg-4 order-lg-2">
    <div class="front-page-header sloped" style="padding-bottom: 100px;">
      <div class="row pt-4 pb-4 pl-4 pr-4">
        <div class="col-md-7 col-12 mx-auto">

          <div id="front-page-header" class="mx-auto">
            <center id="default-header">
              <h1 class="mb-2 mt-3 text-center"
                style="font-family: Shrub; font-size: 5em; line-height: 0.5;"
              >
                SHRUB
              </h1>
              <p
              class="text-center"
                style="font-family: Aleo; line-height: 1;"
              >
                Community-led co-operative in Edinburgh
              </p>
              <h3
              class="text-center"
                style="font-family: Aleo; font-size: 1.75em; line-height: 0.8;"
              >
                FOR A WORLD
              </h3>
              <h1
              class="text-center"
                style="font-family: Aleo; font-size: 2.5em; line-height: 0.8;"
              >
                WITHOUT
              </h1>
              <h3
              class="text-center"
                style="font-family: Aleo; font-size: 1.75em; line-height: 0.8;"
              >
                WASTE
              </h3>

              <br />

              <h3 id="carbonCounter" class="aleo"></h3>
            </center>

            {{ range (where .Data.Pages "Type" "working-groups") }}

            <div
              id="{{urlize .Title }}_info"
              class="working-group-synopsis d-none"
            >
              <div class="row pt-0 pl-4 mb-4">
                <div class="container">
                  <h1
                    class="shrub"
                    style="font-size: 42px; padding-bottom: 0; color: {{.Params.colour}};"
                  >
                    {{ .Title }}
                  </h1>

                  <h4 class="text-white">{{ .Params.tagline }}</h4>

                  <p class="text-white">
                    {{ .Params.address }} <br />
                    {{ .Params.times }}
                  </p>

                  <h4>
                    <a
                      href="{{.Site.BaseURL}}{{.URL}}"
                      title="{{ .Params.alt }}"
                      >Find out more!</a
                    >
                  </h4>
                </div>
              </div>
            </div>

            {{ end }}
          </div>
        </div>
        <div class="col-md-4 ml-0 mx-auto d-none d-md-block">
          <div class="container ml-2 mx-auto">
            {{ range (where .Data.Pages "Type" "working-groups") }}

            <center>
              <a
                onclick="openInfo('{{urlize .Title }}')"
                class="working_group_link"
              >
                <img
                  src="{{ .Params.working_group_logo}}"
                  id="{{urlize .Title }}_icon"
                  class="working_group_icon mx-auto"
                />
                <p class="shrub {{urlize .Title }} mx-auto mt-1" style="color:{{.Params.colour}}; line-height: 1;">
                  {{ .Name }}
                </p>
              </a>
            </center>

            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row"><img src="/images/map.png" class="map" /></div>-->
  </div>

  <div class="col-lg-4 order-lg-1 d-none d-lg-block">
    <div class="latest-blog-header sloped">
      <div class="container">
        {{ range first 1 (where .Data.Pages "Type" "blog") }}
        <div class="pl-3 pt-4">
          <h1 class="aleo text-white">{{ .Title }}</h1>

          <p class="aleo text-white">
            By {{ .Params.author }} | {{ dateFormat "02/01/06" .Date }}
          </p>

          <p class="aleo text-white">{{ .Description }}</p>
          <p class="aleo">
            <a
              href="{{.Site.BaseURL}}{{ .URL }}"
              title="Blog post: {{ .Title }} by {{.Params.author }} - click this link to continue reading."
              >Continue reading!</a
            >
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="col-lg-4 order-lg-3 d-none d-lg-block">
    <div class="events-header sloped">
      <div class="container">
        {{ range first 1 (where .Data.Pages "Type" "events") }}
        <div class="pl-4 pt-4">
          <h1 class="aleo text-white">{{ .Title }}</h1>
          <p class="aleo text-white">{{ .Description }}</p>
          <p class="aleo text-white">
            {{ dateFormat "02/01/06 15:04" .Params.time }} @ {{ .Params.location }} | Hosted by {{ .Params.author }}
          </p>
          <a
            href="{{.Site.BaseURL}}{{ .URL }}"
            title="Latest event: {{ .Title }} - click this link to read more about this event."
            >More info</a
          >
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<br />

<div class="row"><h1 class="aleo mx-auto" style="color: #fbbf11;">GET INVOLVED</h1></div>

<script>
  function openInfo(workingGroup) {
    $("#default-header").hide();
    $(".working-group-synopsis").addClass("d-none");
    $(".working_group_icon").css("opacity", "0.5");
    $("#" + workingGroup + "_icon").css("opacity", "1");
    $("#" + workingGroup + "_info").removeClass("d-none");
  }

  $.ajax({
    url: "https://murakami.org.uk/api/get/reports/all-time/carbon-saved",
    type: "GET",
    success: function(res) {
      if (!parseFloat(res)) {
        res = (0.0).toFixed(3);
      }
      $("#carbonCounter").text(res + " tonnes of carbon saved this year!");
    }
  });
</script>

{{ end }}
