{{ define "main" }}

<div class="row">
  <div class="col-md-4 order-md-1">

      <div class="front-page-header sloped mb-4">
        <div class="container pl-4 pt-4">
          <div class="row">
            <a class="internal-anchor" name="mailing-list"></a>
            <h1 class="text-white pl-3">{{ .Params.mailing_list_title }}</h1>

          </div>
          {{ if .Params.mailing_list_tagline }}
            <div class="row">

              <div class="col-10">
                <h2 class="h4 text-white">
                  {{ .Params.mailing_list_tagline }}
                </h2>
              </div>
            </div>
          {{ end }}
        </div>
      </div>

    <div class="container">

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="https://shrubcoop.us4.list-manage.com/subscribe/post?u=a28a538c55f3604b70c8e2cf3&amp;id=c529cb77fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

            <div class="form-group mc-field-group">
            	<input type="email" value="" name="EMAIL" class="form-control required email" placeholder="Email Address" id="mce-EMAIL">
            </div>
            <div class="form-group mc-field-group">
            	<input type="text" value="" name="FNAME" class="form-control required" placeholder="First Name" id="mce-FNAME">
            </div>
            <div class="form-group mc-field-group">
            	<input type="text" value="" name="LNAME" class="form-control required" placeholder="Last Name" id="mce-LNAME">
            </div>
            <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                <div class="content__gdpr">

                    <fieldset class="mc_fieldset gdprRequired mc-field-group mb-2" name="interestgroup_field">
                      <label class="checkbox required subfield" for="gdpr_2061"><input type="checkbox" id="gdpr_2061" name="gdpr[2061]" value="Y" class="av-checkbox "><span> I have read and agree to the <a data-toggle="collapse" href="#newsletter-gdpr" class="link-blue">terms and conditions</a></span> </label>
                    </fieldset>
                    <div id="newsletter-gdpr" class="collapse card card-body mb-4 mt-2">
                      {{ .Params.mailing_list_gdpr_disclaimer | markdownify}}
                    </div>
                </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a28a538c55f3604b70c8e2cf3_c529cb77fc" tabindex="-1" value="">
            </div>

            <input type="submit" value="{{ .Params.mailing_list_button }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-shrub btn-block m-0">
          </div>

        </form>

        <div id="mce-responses" class="clear mt-4">
          <div class="alert alert-danger" id="mce-error-response" role="alert" style="display: none;"></div>
          <div class="alert alert-success" id="mce-success-response" role="alert" style="display: none;"></div>
        </div>

      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

    </div>
  </div>

  <div class="col-md-4 order-md-2">
    <div class="front-page-header sloped" style="padding-bottom: 50px;">
      <div class="container pl-4 pt-4">
        <div class="row col-10 col-offset-1">
          <a class="internal-anchor" name="member-signup"></a>
          <h1 class="text-white pl-3">{{ .Params.membership_sign_up_title }}</h1>
          {{ if .Params.membership_sign_up_tagline }}
            <div class="col-10">
              <h2 class="h4 text-white">
                {{ .Params.membership_sign_up_tagline}}
              </h2>

            </div>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="container mb-5">

      {{ .Params.membership_sign_up_body | markdownify }}

      <a href="/join" role="button" class="btn btn-shrub btn-block mb-4">{{ .Params.membership_sign_up_button }}</a>

      <hr />

      <p class="text-center mt-3 mb-3">Looking to renew your existing membership?</p>

      <a href="/renew" role="button" class="btn btn-shrub btn-block mb-4">{{ .Params.membership_renewal_button }}</a>
 
      <hr />
      
      <p class="text-center mt-4">Want to support us without becoming a member? You can also <a href="/donate" tilte="Click here to donate">donate</a>!</p>

    </div>
  </div>

  <div class="col-md-4 order-md-3">
    <div class="front-page-header sloped">
      <div class="container pl-3 pt-4">
        <a class="internal-anchor" name="volunteer-roles"></a>
        <h1 class="text-white  pl-2">{{ .Params.volunteer_sign_up_title }}</h1>
          {{ if .Params.volunteer_sign_up_tagline }}
            <div class="col-10">
              <h2 class="h4 text-white">
                {{ .Params.volunteer_sign_up_tagline }}
              </h2>
            </div>
          {{ end }}
      </div>
    </div>

    <div class="container mb-5">
      <div id="volunteerRoles" class="text-center mb-4">
        <div class="lds-ellipsis dark"><div></div><div></div><div></div><div></div></div>
      </div>
      <a class="btn btn-block btn-shrub mb-4" href="{{ .Site.BaseURL }}volunteer/">{{ .Params.volunteer_sign_up_button }}</a>
    </div>
  </div>
</div>

<script src="{{ .Site.BaseURL }}js/volunteer-roles.js"></script>

<script>
var BaseURL = "{{ .Site.BaseURL }}";
var murakamiRolesKey = "{{ .Site.Params.murakamiRolesKey }}"
var rolesLimit = 3;
var truncateRoleDescriptions = true;

$(document).ready(function(){
  getAllVolunteerRoles()
})

</script>

{{ end }}
